
/* Para la imagen el avatar en la formulario update*/
.js-cookie-consent{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #fffbdb;
    border-color: #fffacc;
    border: solid 1px;
  }




form .avatar{

width: 50px;
height: 50px;
margin-bottom: 15px;
border-radius: 50%;


}


/* Para la capa del avatar en la cabecera*/
.navbar .container-avatar{

width: 25px;
height: 25px;
border-radius: 50%;
overflow: hidden;
margin-right: 10px;

}

/* Para la imagen del avatar en la cabecera*/
.navbar .container-avatar img{

height: 100%;
width: 100%;




}
